name: RPM Build
on: push

env:
  dante_version: "1.4.3"


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Download Dante sources
      run: wget https://www.inet.no/dante/files/dante-${dante_version}.tar.gz -O dante-${dante_version}.tar.gz
      shell: bash      

    - name: Extract Dante sources
      run: tar --strip-components=1 -xf dante-${dante_version}.tar.gz
      shell: bash      

    - name: build RPM package
      id: rpm
      uses: naveenrajm7/rpmbuild@master
      with:
        spec_file: "SPECS/dante.spec"

    # - name: Upload artifact
    #   uses: actions/upload-artifact@v1.0.0
    #   with:
    #     name: Binary RPM
    #     path: ${{ steps.rpm.outputs.rpm_dir_path }}
