name: RPM Build
on: push

env:
  dante_version: "1.4.3"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: docker://perconalab/rpmbuild:latest

    - name: Download Dante sources
      run: |
        mkdir SOURCES
        wget https://www.inet.no/dante/files/dante-${dante_version}.tar.gz -O SOURCES/dante-${dante_version}.tar.gz
        tar --strip-components=1 -xf SOURCES/dante-${dante_version}.tar.gz
        rpmbuild --define '%_hardening_ldflags -Wl,-z,now' --define "_topdir $(pwd)" --define '_extraflags #' -ba SPECS/dante.spec
        env
        ls -la
      shell: bash      
      # mv dante-${dante_version}.tar.gz ./SOURCES

    # - name: Upload artifact
    #   uses: actions/upload-artifact@v1.0.0
    #   with:
    #     name: Binary RPM
    #     path: ${{ steps.rpm.outputs.rpm_dir_path }}
